<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="#">
		<img src="/BlogLogo.png" width="45" height="45" class="d-inline-block align-top" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/test">Home</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/blogs/new">My Posts</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/blogs/new">Profile</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2 input-group-sm" style="height:33px" type="search"
				placeholder="Search blogs . ." aria-label="Search">
			<button class="btn btn-outline-success btn-sm mr-4" type="submit">Search</button>
		</form>
		<button type="button" class="btn btn-info btn-sm mr-2">CREATE POST</button>
		<button type="button" class="btn btn-info btn-sm">SIGN OUT</button>
	</div>
</nav>